/* shades of black */
$black-col: rgba(0, 0, 0, 1);
$black-shade9: rgba(0, 0, 0, 0.9);
$black-shade8: rgba(0, 0, 0, 0.8);
$black-shade7: rgba(0, 0, 0, 0.7);
$black-shade6: rgba(0, 0, 0, 0.6);
$black-shade5: rgba(0, 0, 0, 0.5);
$black-shade4: rgba(0, 0, 0, 0.4);
$black-shade3: rgba(0, 0, 0, 0.3);
$black-shade2: rgba(0, 0, 0, 0.2);
$black-shade1: rgba(0, 0, 0, 0.1);

/* shades of white */
$white-col: rgba(255, 255, 255, 1);
