@use 'variables' as v;
@use 'content';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .heading {
    background-color: v.$black-shade9;
    color: v.$white-col;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
  }

  .footer {
    @extend .heading;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
