@use 'variables' as v;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .cont-2 {
    padding: 0 1rem;
  }

  .heading {
    background-color: v.$black-shade9;
    color: v.$white-col;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
  }

  .main {
    display: flex;
    justify-content: center;
    flex: 1;

    .card {
      position: absolute;
      inset: 50% auto auto 50%;
      transform: translate(-50%, -50%);
      form {
        fieldset {
          padding: 1rem;

          .form-elem {
            display: flex;

            label {
              flex: 1;
            }

            input,
            textarea {
              width: 200px;
            }
          }
          textarea {
            resize: none;
          }
        }
      }
    }
  }

  .footer {
    @extend .heading;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
